<div class="_display-block">
  <ul class="menu-footer -icons">
    {% if menu_social_media.facebook %}
      <li class="item">
        <a href="{{ menu_social_media.facebook }}" target="_blank"><i class="fa fa-facebook"></i></a>
      </li>
    {% endif %}

    {% if menu_social_media.twitter %}
      <li class="item">
        <a href="{{ menu_social_media.twitter }}" target="_blank"><i class="fa fa-twitter"></i></a>
      </li>
    {% endif %}

    {% if menu_social_media.youtube %}
      <li class="item">
        <a href="{{ menu_social_media.youtube }}" target="_blank"><i class="fa fa-youtube"></i></a>
      </li>
    {% endif %}

    {% if menu_social_media.gplus %}
      <li class="item">
        <a href="{{ menu_social_media.gplus }}" target="_blank"><i class="fa fa-google-plus"></i></a>
      </li>
    {% endif %}

    {% if menu_social_media.snapchat %}
      <li class="item">
        <a href="{{ menu_social_media.snapchat }}" target="_blank"><i class="fa fa-snapchat"></i></a>
      </li>
    {% endif %}

    {% if menu_social_media.instagram %}
      <li class="item">
        <a href="{{ menu_social_media.instagram }}" target="_blank"><i class="fa fa-instagram"></i></a>
      </li>
    {% endif %}
  </ul>
</div>